<section class="jumbotron">
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-white">
                <h1>{{#i18n}}form.title{{/i18n}}</h1>
                <p class="lead text-muted">{{#i18n}}form.description{{/i18n}}</p>
                <form class="rss-form">
                <div class="input-group mb-3">
                <input type="text" autofocus required name="url" class="form-control {{# form.error}}is-invalid{{/ form.error}}" placeholder="ссылка RSS" aria-label="ссылка RSS" aria-describedby="button-addon" value="{{ form.url }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon">ADD</button>
                </div>
                </div>
                </form>
                <p class="text-muted">
                    {{#i18n}}form.example{{/i18n}} https://ru.hexlet.io/lessons.rss
                </p>
                {{# form.error }}
                    <div class="feedback text-danger">{{ form.error }}</div>
                {{/ form.error }}
                {{# formCompleted }}
                    <div class="feedback text-success">
                        {{#i18n}}form.success{{/i18n}}
                    </div>
                {{/ formCompleted }}
            </div>
        </div>
    </div>
</section>
{{#feeds.0}}
  <section class="container-fluid p-5">
      <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto feeds">
              <h2>{{#i18n}}feeds{{/i18n}}</h2>
              <ul class="list-group mb-5">
              {{#feeds}}
                <li class="list-group-item">
                    <h3>{{ title }}</h3>
                    <p>{{ description }}</p>
                </li>
              {{/feeds}}
              </ul>
          </div>
      </div>
      <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto posts">
          <h2>{{#i18n}}posts{{/i18n}}</h2>
          <ul class="list-group">
              {{#posts}}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                  <a href="{{ link }}" class="font-weight-bold" data-id="2" target="_blank" rel="noopener noreferrer">
                    {{ title }}
                  </a>
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Просмотр
                    </button>
                </li>
              {{/posts}}
          </ul>
        </div>
      </div>
  </section>
{{/feeds.0}}