.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    padding-left: 15px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.text-danger {
    color: #dc3545 !important;
}

.font-weight-bold  {
    font-weight: bold;
}